[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = git@github.com:DavidAntliff/esp32-owb.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = git@github.com:DavidAntliff/esp32-ds18b20.git
[submodule "components/esp-ota-mqtt"]
	path = components/esp-ota-mqtt
	url = git@work.github.com:matt-g-everett/esp-ota-mqtt.git
[submodule "components/crc32"]
	path = components/crc32
	url = git@work.github.com:matt-g-everett/crc32.git
[submodule "components/esp-wifi"]
	path = components/esp-wifi
	url = git@work.github.com:matt-g-everett/esp-wifi.git
